Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-SocketIO==5.1.1
eventlet==0.31.0
werkzeug==2.0.3
Jinja2>=3.0
itsdangerous>=2.0
click>=7.1.2
SQLAlchemy<1.4
bcrypt
python-socketio>=5.0.2
greenlet>=0.3
dnspython<2.0.0,>=1.15.0
six>=1.10.0
MarkupSafe>=2.0
typing-extensions>=4.6.0
bidict>=0.21.0
python-engineio>=4.8.0
simple-websocket>=0.10.0
wsproto
flask-wtf
email_validator
datetime